<div class="modal fade" id="add-song-modal">
  <div class="modal-dialog">
    <div class="modal-content main-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="h2 m-0"><i><b>Add Song</b></i></p>
      </div>
      <div class="modal-body">
      <%= form_for(:song, :url => {:action => 'add_song'}) do |f| %>
      <div class="form-group">
            <label for="first-name">Title *</label>
            <%= f.text_field(:title) %>
          </div>
          <%= submit_tag("Create Song") %>
      </div>
      <% end %>
    </div>          
  </div>
</div>