<table class='table table-striped'>
	<th></th>
	<th>Song</th>
	<th>Artist</th>
	<th>Feautured Artists</th>

	<% @songs.each do |song| %>
	<% artist = song.artist.try(:artist).to_s %>
	<tr>
		<td>Edit</td>
		<td><%= link_to(song.title, 'https://www.youtube.com/results?search_query=' + song.title + ' ' + artist, target: "_blank") %></td>
		<td><%= artist %></td>
		<td></td>
	</tr>
	<% end %>
</table>