<div class="modal fade" id="add-song-modal">
  <div class="modal-dialog">
    <div class="modal-content main-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="h4 m-0 text-center" id="logo">
          <span class="vert-middle">
            <%= image_tag('logo.png', :alt => 'logo', :style => [ 'height:1.4em;']) %> <i><b>Add Song</b></i>
          </span>
        </p>
      </div>
      <div class="modal-body">
      
        <%= render(:partial => "add_song_form") %>

      </div>
    </div>          
  </div>
</div>