<div class="modal fade" id="edit-song-modal">
  <div class="modal-dialog">
    <div class="modal-content main-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="h2 m-0"><i><b>Edit Song</b></i></p>
      </div>
      <div class="modal-body">
      
        <%= render(:partial => "edit_song_form") %>
        <%= render(:partial => "delete_song_form") %>
      
      </div>
    </div>          
  </div>
</div>