<!-- Instance Variables !-->
<% @page_title = "Mattchet Music | Add Song" %>
<!-- End Instance Variables !-->


<div id="new-song-page">
	<div class="container text-center" id="new-song-container">
		<div class="vert-middle">
			<%= render(:partial => "/songs/forms/add_song_form") %>
		</div>
	</div>
</div>