/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

/* Override Bootstrap default fonts location */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* ==========================================================================
 	Global
   ========================================================================== */

 header a, header a:hover {
 	color:inherit;
 	text-decoration:none;
 }

/* ==========================================================================
 	Helper Classes
   ========================================================================== */

.m-0 {
	margin:0px;
}

.m-vert-5 {
	margin-top:5px;
	margin-bottom:5px;
}

.m-vert-10 {
	margin-top:10px;
	margin-bottom:10px;
}

.p-0 {
	padding:0px;
}

.p-10 {
	padding:10px;
}

.p-vert-5 {
	padding-top:5px;
	padding-bottom:5px;
}

.p-vert-10 {
	padding-top:10px;
	padding-bottom:10px;
}

.p-vert-50 {
	padding-top:50px;
	padding-bottom:50px;
}

.p-top-10 {
	padding-top:10px;
}

.inline-block {
	display:inline-block;
}

.vert-middle {
	display:table-cell;
	vertical-align:middle;
}

.no-float {
	float:none;
}

/* ==========================================================================
 	Header / Nav
   ========================================================================== */

header {
	border-bottom:2px solid black;
}

#logo {
	margin:0 auto; 
	display:table;
}

nav ul li ul {
	display:none;
	position:absolute;
	margin:0px;
	padding:0px;
}

nav ul li:hover ul {
	display:block;
}

ul {
	list-style:none;
}

ul li {
	color:#337ab7;
}

ul li:hover {
	color:black;
}

ul li:hover ul{
	background-color:white;
	border:2px solid black;
	padding:0px 4px 0px 4px;
}

/* ==========================================================================
 	CRUD
   ========================================================================== */

.notice {
	background-color:silver;
	border:1px solid black;
	text-align:center;
	color:white;
	font-weight:bold;
	padding:10px 0px;
}

/* Make validation errors horizontal */
.field_with_errors {
    display: inline-block;
}

/* Modals
   ========================================================================== */

.modal-content {
	border:1px solid black;
	background:#E8E8E8 ;
}

.modal-header {
	background: -webkit-linear-gradient(#F8F8F8 , #B0B0B0  ); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F8F8F8 , #B0B0B0  ); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F8F8F8 , #B0B0B0  ); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#F8F8F8 , #B0B0B0  ); /* Standard syntax */    
  	border-bottom: 1px solid black;
  	padding:5px;
}