<% if object && object.errors.size > 0 %>

<!-- Show add song modal on page load with the errors below !-->
<script>
$(document).ready(function(){
    $("#add-song-modal").modal("show");
});
</script>

  <div id="errorExplanation">
    <p class="h4"><%= pluralize(object.errors.size, "error") %> prohibited this record from being saved</p>
    <p>There were problems with the following fields:</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

